In [ ]:
# README #
# Starter code for using Natural Language to generate SQL statements using python.

In [ ]:
# Define variables

csv = input("Enter csv filepath: ")
new_table_name = input("Enter desired table name: ")

In [ ]:
import pandas as pd

# Read a CSV file into a pandas dataframe
df = pd.read_csv(csv)

# define the schema of the dataframe as a dictionary of {column_name: column_type}
df_schema = dict(zip(df.columns, df.dtypes))

In [ ]:
# Create a SQL table definition from the dataframe schema

def create_db_table(df):
    prompt = """### Write a mysql statement to create a database table from the dataframe schema
    # The table should be named {new_table_name}
    # the dataframe schema is as follows: 
    # 
    """

In [ ]:
# Create a SQL query using natural language

def optional_sql_query():
    nlp_text = input("Write what you want the SQL to do : ")
    return nlp_text

In [ ]:
# Insert data into the SQL table

module_id = input("Enter module id: ")

table_1_name = input("Enter existing table name: ")
table_2_name = input("Enter existing table name: ")
table_3_name = input("Enter existing table name: ")

table_1_schema = """

"""

table_2_schema = """

"""

table_3_schema = """

"""

def insert_data(df):
    prompt = """### Write the python functions for mysql import statements to insert data into my db tables for module_id = {module_id}, and based on the following table schemas:
    # Table 1 name: {table_1_name}
    # Table 1 schema: {table_1_schema}
    # Table 2 name: {table_2_name}
    # Table 2 schema: {table_2_schema}
    # Table 3 name: {table_3_name}
    # Table 3 schema: {table_3_schema}
    """
    return prompt